In [1]:
from english_words import english_words_lower_set

In [2]:
#The english word list imported above contains words with apostraphes. Need to remove these words and select only 5 letter words to play wordle
#Also, this list includes proper nouns, which is okay for the sake of exploring, but I could load in a dictionary w/o proper nouns.
words = {}
for i in english_words_lower_set:
    if len(i) == 5 and i.isalpha():
        words[i] = None

In [3]:
#for fun, I want to see which words would make good guessing words in wordle, I am going todo this by making a helper function.
def compare(first_word, second_word):
    yellow_count = 0
    green_count = 0
    tracker = []
    for i in range(0,5):
        if first_word[i] == second_word[i]:
            green_count += 1
            if first_word[i] not in tracker:
                tracker.append(first_word[i])
            else:
                yellow_count -=1
        else:
            if first_word[i] in(second_word) and first_word[i] not in tracker:
                yellow_count += 1
                tracker.append(first_word[i])
    return green_count, yellow_count

In [4]:
#For each word, compare against other words in the word list to see how they score and add up these scores
for i in words.keys():
    green_count = 0
    yellow_count = 0
    for c in words.keys():
        temp_green, temp_yellow = compare(i,c)
        green_count += temp_green
        yellow_count += temp_yellow
    words[i] = (green_count,yellow_count)

In [5]:
#Load dictionary as dataframe
import pandas as pd
dataframe = pd.DataFrame.from_dict(data = words, orient = 'index')
dataframe.head()

          0     1
costa  1172  3514
bathe  1531  3066
hater  1320  3948
adair  1073  2779
slime  1692  2851

In [6]:
#Calculate the top ten words by a combined score of green and yellow
dataframe.rename(columns = {0:"Green", 1:"Yellow"}, inplace = True)
dataframe['Combined_Score'] = dataframe['Green'] + dataframe['Yellow']
top_ten = dataframe.nlargest(10,'Combined_Score')
top_ten.head(10)

       Green  Yellow  Combined_Score
arose   1620    4085            5705
erato   1144    4546            5690
orate   1551    4139            5690
raise   1698    3970            5668
aries   1391    4277            5668
aires   1300    4368            5668
arise   1646    4022            5668
lares   1438    4221            5659
artie   1539    4114            5653
irate   1549    4104            5653

In [7]:
dataframe.to_csv('wordle_words.csv')